.style-switcher {
  position: fixed;
  right: 0;
  top: 60px;
  padding: 15px;
  width: 200px;
  border: 1px solid var(--bg-50);
  background: var(--bg-100);
  z-index: 101;
  border-radius: 5px;
  transition: all 0.3s ease;
  transform: translateX(100%);
  &.open {
    transform: translateX(-25px);
  }
  .style-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    background: var(--bg-100);
    color: var(--text-900);
    right: 100%;
    margin-right: 25px;
    border: 1px solid var(--bg-50);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    i {
      line-height: 40px;
    }
  }
  .style-switcher-toggler {
    top: 0;
  }
  .light-dark {
    top: 55px;
  }
  h4 {
    margin: 0 0 10px;
    color: var(--text-700);
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
  }
  .colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    span {
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      cursor: pointer;
    }
    .color-1 {
      background: #ec1839;
    }
    .color-2 {
      background: #fa5b0f;
    }
    .color-3 {
      background: #37b182;
    }
    .color-4 {
      background: #1854b4;
    }
    .color-5 {
      background: #f021b2;
    }
  }
}
